[User('Albert Einstein', 'albert@einstein.com', '899bbecf8f0e8c33.jpg'), User('Enrico Fermi', 'enrico@fermi.com', '1a4f860aebca304b.jpg'), User('Carl Sagan', 'carl@sagan.com', '413e5206aa4d6e3a.jpg'), User('Marie Curie', 'marie@curie.com', '500a3550f59ce905.jpg'), User('Chuck Yeager', 'chuck@yeager.com', 'bec825997b7fb284.jpg'), User('Jane Goodall', 'jane@goodall.com', 'c43ee5c43da2b0b2.jpg'), User('Charles Darwin', 'charles@darwin.com', 'cbbaf8718ca07289.jpg'), User('Ada Lovelace', 'ada@lovelace.com', 'afe3424928db75e0.jpg')]
